- steps = ['Add Twitter','Add Facebook','Set options','Done!']
%ol(class="nav")
  - steps.each_with_index do |step,stepNumber|
    %li{ :class => (stepNumber == currentStep)? "current" : "" }
      = step