%p(class="form-section")
  = f.check_box :post_as_notes
  = label_tag 'posting_configuration_post_as_notes', "If your tweet contains a link, post it as a link with a preview to your wall"

%p(class="form-section")
  = f.check_box :use_real_names
  = label_tag 'posting_configuration_use_real_names', "Convert Twitter's @names to real names when possible"

%p(class="form-section")
  = f.check_box :explicitly_tagged
  = label_tag 'posting_configuration_explicitly_tagged', "Only post tweets that contain #fb"
  %p(class="sub-instruction")
    Even if this isn't checked, you can always prevent a tweet showing up on Facebook by adding !fb  

%p(class="form-section")
  = f.check_box :action_link
  = label_tag 'posting_configuration_action_link', "Add Twitter profile link to Facebook posts"
  %p(class="sub-instruction")
    If you check this, we'll add a "Follow me on Twitter" link under each of your posts on Facebook (next to "Comment" and "Like").

%p(class="form-section")
  = f.check_box :awesm_powered
  = label_tag 'posting_configuration_awesm_powered', "Convert links to awe.sm links"
      
  %div(id="awesm")
    %span
      If you're an
      = link_to 'awe.sm', 'http://totally.awe.sm', :title => "awe.sm: Campaign tracking for social media"
      customer, TweetPo.st will track links shared to Facebook using your awe.sm account.
    %p(class="sub-section")
      = label_tag 'posting_configuration_awesm_api_key', 'Your awe.sm API key:'
      = f.text_field :awesm_api_key
