#nux
  = render :partial => 'nux', :locals => { :currentStep => 3 }
  %div(class="content")
    %h1
      Congratulations!
    %p
      You've successfully created a connection between Twitter and Facebook.
    - if(@twitter_name && @facebook_name)
      %p
        Tweets from <a href="http://twitter.com/#{@twitter_username}">#{@twitter_name}</a> will be posted to the Facebook #{@facebook_entity_type} #{@facebook_name}
    <a class="bigBtn" id="done-button" href="/settings">See all your connections</a>
    %p
      To hear announcements about Tweetpo.st, you should <a target="_blank" href="http://twitter.com/tweet_post">follow @tweet_post</a>.