%div(id="edit-config" class="roundbox")
  %div(class="interior")
    %h1= "Edit #{@posting_configuration.title} Page"
    - form_for @posting_configuration do |f|

      #configs-edit-head
        %div(class="error-messages")
          = f.error_messages

      .form_section
        %div= label_tag "Label"
        %div= f.text_field :title, :onchange => "saveTitle()"
        
      .twitter
        %div= label_tag "Twitter"
        %div
          = f.select :twitter_account_id, current_user.twitter_accounts.map{|z| ["#{z.twitter_real_name} (@#{z.twitter_username})", z.id]}, :onchange => "saveSource()" if current_user
          = link_to "Add new", oauth_path(:edit => "true", :id => @posting_configuration.id)

      .facebook
        %div= label_tag "Facebook"
        - if current_user 
          %div= f.select :authorized_facebook_spot_id, current_user.authorized_facebook_spots.map{|z| ["#{z.title} (#{z.page_type.capitalize})", z.id]}, :onchange => "saveDest()"
        %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('publish_stream,offline_access', function(result) { window.location.reload(true); }, true);", :id => 'facebook-add-btn'}
          Add New
        - if !@offline_access && @posting_configuration.post_as_notes?
          %p.error 
            Please grant us Constant Authorization permissions so we can post links to your wall. 
            %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('offline_access', function(result) { window.location.reload(true); }, true);"} Click here to do so.

      .options
        = render :partial => 'options', :locals => { :f => f }

      .config-buttons
        .configs_edit_cancel= submit_tag "Update", :class => 'bigBtn', :id => 'edit-update-btn'
        .configs_edit_cancel= link_to "Cancel", settings_path, :id => 'edit-cancel-btn'


