#nux
  = render :partial => 'nux', :locals => { :currentStep => 1 }
  %div(class="content")
    %h1
      Step 2: connect to Facebook
    %div(id="facebook-auth")
      %div(id="facebook-add-select")
        - form_for '/create/step2' do |f|
          - if current_user && current_user.authorized_facebook_spots.count > 0
            Okay! Now select the Facebook Profile or Page to which you want to post these tweets:
            %div= f.select :authorized_facebook_spot_id, current_user.authorized_facebook_spots.map{|z| ["#{z.title} (#{z.page_type.capitalize})", z.id]}.insert(0, ["Select", ""]) 
            %div
              = f.submit 'Next', :class => 'bigBtn', :id => 'facebook-next'
          - else
            Okay! Now you need to select the Facebook Profile or Page to post tweets to.
      %div(class="facebook-add-new")
        If the page or profile isn't listed, click here to add it:
        %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('publish_stream,offline_access', function(result) { window.location.reload(true); }, true);", :class => "bigBtn", :id => "facebook-add-new-btn" }
          Add Profile or Page
    %div(class="cancel")
      <a href="/create/cancel">Cancel</a>    

