- form_for @posting_configuration do |f|

  #configs_edit_head
    .config_buttons
      .configs_edit_cancel= button_to("Create", "" )
      .configs_edit_cancel= button_to("Cancel", settings_path )
    .configs_form_label= "Add a new TweetPo.st"

    %div= f.error_messages

  .form_section
    %div= label_tag "Label"
    %div= f.text_field :title,  :onchange => "saveTitle()"
  	
  .form_section
    %div= label_tag "Source"
    %div= label_tag "(Twitter)"
    %div
      = f.select :twitter_account_id, current_user.twitter_accounts.map{|z| ["#{z.twitter_real_name} (@#{z.twitter_username})", z.id]}.insert(0, ["Select",""]) if current_user
      %a{ :href => '#twitter_boxy', :class => 'boxy', :title => "Add a New Twitter Account" } Add New

  .form_section
    %div= label_tag "Destination:"
    %div= label_tag "(Facebook)"
    /%div= f.select :authorized_facebook_spot_id, current_user.authorized_facebook_spots.map{|z| ["#{z.title} (#{z.page_type.capitalize})", z.id]}.insert(0, ["Select", ""]) if current_user
    /%a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('publish_stream,offline_access', function(result) { window.location.reload(false); }, true);"} Add New
    - if @offline_access and current_user
      %div= f.select :authorized_facebook_spot_id, current_user.authorized_facebook_spots.map{|z| ["#{z.title} (#{z.page_type.capitalize})", z.id]}.insert(0, ["Select", ""]) 
    - elsif current_user
      %div= f.select :authorized_facebook_spot_id, ["Select"]
    - if @offline_access
      %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('publish_stream', function(result) { window.location.reload(true); },     true);"} Add New
    - else
      %p.error
        You must first grant us Constant Authorization permissions before we can post to any Facebook profiles or pages.
        %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('offline_access', function(result) { window.location.reload(true); }, true);"} Please click here to do so.
  .form_section
    = label_tag 'Post links to your Wall: '
    = f.check_box :post_as_notes
    %small If your tweet contains a link, we'll post it to your Facebook Wall instead of as a Status Update

  .form_section
    = label_tag 'Use real names: '
    = f.check_box :use_real_names
    %small If your tweet contains an @username, we'll turn it into that person's real name from their Twitter account

  .form_section
    = label_tag 'Only post tweets that contain #fb: '
    = f.check_box :explicitly_tagged
    %small
      By default, you can keep any tweet from being posted to Facebook by including !fb in it (@replies are ignored automatically unless you include #fb)
      %br/
      But if you tweet a lot, turn this on and TweetPo.st will only post tweets that contain #fb (even @replies!)

  .form_section
    = label_tag "Add Twitter profile link to Facebook posts: "
    = f.check_box :action_link
    %small If you check this, we'll add a "Follow me on Twitter" link under each of your posts on Facebook (next to "Comment" and "Like").


  .form_section
    = label_tag 'Enable Awe.sm'
    = f.check_box :awesm_powered,  :onclick => "hideContent()"
    #enabled_clicked
      %small
        If you're an
        = link_to 'awe.sm', 'http://totally.awe.sm', :title => "awe.sm: Campaign tracking for social media"
        customer,  TweetPo.st will encode your links with awe.sm
      .sub_section
        = label_tag 'awesm_api_key', 'awe.sm API Key'
        = f.text_field :awesm_api_key
  - unless @posting_configuration.awesm_powered
    %script{:type => 'text/javascript'} hideContent();
  .form_section= submit_tag 'Create'
#twitter_boxy 
  %h3 Add a New Twitter Account
  %p Please authorize TweetPo.st to connect to your Twitter Account
  %p 
  = link_to "Oath", oauth_path(:new => "true")
  %p or
  %p You can enter any (public) Twitter username
  - form_for @twitter_account do |ta|
    %div
      = ta.text_field :twitter_username
      = submit_tag 'Add'

