#nux
  = render :partial => 'nux', :locals => { :currentStep => 2 }
  %div(class="content")
    %h1
      Step 3: set your configuration options
    %p
      The settings below should work for most people. If you're not sure, just click Done.
    - form_for @posting_configuration, :url => step3_path do |f| 
    
      = submit_tag 'Done!', :class => 'bigBtn', :id => 'top-done'
    
      %div(id="options")
    
        %p(class="form-section")
          Give this connection a label (you can always change it later)
          %p= f.text_field :title, :value => @default_title
      
        = render :partial => 'options', :locals => { :f => f }
            
      %p(class="form-section")= submit_tag 'Done!', :class => 'bigBtn', :id => 'bottom-done'
    %div(class="cancel")
      <a href="/create/cancel">Cancel</a>    

= javascript_include_tag 'nux'        