#nux
  = render :partial => 'nux', :locals => { :currentStep => 0 }
  %div(class="content")
    %h1
      Step 1: connect to Twitter
      
    %div(id="twitter-auth")
      %div(id="twitter-auth-options")
        - if current_user.twitter_accounts.count == 0
          %p
            Welcome to TweetPo.st! Click Sign In to give us permission to read your tweets:
          %div
            = link_to "Authorize Tweetpo.st", oauth_path(:new => "true"), {:class => 'twitter-auth-btn'}
        - else
          %p
            Welcome back! Pick from one of the Twitter accounts you authorized previously:
            - form_for '/create/step1' do |f|
              .form_section
                %p
                  = f.select :twitter_account_id, current_user.twitter_accounts.map{|z| ["#{z.twitter_real_name} (@#{z.twitter_username})", z.id]}.insert(0, ["Select",""]) if current_user
                %p
                  = f.submit 'Next', :class => 'bigBtn', :id => 'twitter-next'
      %p(id="twitter-alternate")
        You can also 
        %span
          = link_to "authorize a new Twitter account", oauth_path(:new => "true")
        or you can 
        %span
          = link_to "enter any public Twitter username", "#", {:id => 'twitter-public-user-link'}          
    %div(class="cancel")
      <a href="/create/cancel">Cancel</a>    
          
    
    
    #twitter-public-user 
      %p If you don't have access to the Twitter account you wish to connect, you can enter the username of any public account here:
      - form_for @twitter_account do |ta|
        %div
          = ta.text_field :twitter_username
          = submit_tag 'Follow', :class => 'smallBtn', :id => 'follow-btn'
      %p(class="only") This will only work if the account is public; private accounts must sign in above.
              
= javascript_include_tag 'nux'

