%div(id="hero" class="roundbox")
  %div(id="example")
    %div(class="twitter")
      %img(src="/images/exampletweet.png")
      %div(class="logo")
    %span(id="connector")
    %div(class="facebook")
      %img(src="/images/examplefbpost.png")
      %div(class="logo")
  %div(id="cta")
    %span
      <em>It's free!</em> Connect with Facebook to get started:
      %span(id="fb-cta")
        = fb_login_button('window.location = "/users/link_user_accounts";')
%div(id="copy")
  %div(id="features" class="roundbox")
    %ul
      %li(class="new")
        Supports Facebook Profiles and Pages
        <img src="/images/new-2.png">
      %li(class="new")
        Manage multiple connections
        <img src="/images/new-2.png">
      %li
        Post tweets as Facebook status updates
      %li
        Post links you tweet on your Facebook wall
      %li
        Ignore @replies
      %li
        Change @mentions to real names
      %li
        Only post the tweets you specify to Facebook
      %li
        Track links posted to Facebook with <a href="http://totally.awe.sm">awe.sm</a>
  %div(id="testimonials")
    %ul
      %li(id="mashable")
        "Twitterers will love how TweetPo.st takes advantage of Facebook Connect for a variety of Twitter to Facebook goodness." &#8212; <a href="http://mashable.com/2009/05/25/twitter-to-facebook/">Mashable</a>
      %li(id="thenextweb")
        "A nifty little tool that should make your life easier if you're a devoted Twitter user who also likes to update their Facebook." &#8212; <a href="http://thenextweb.com/2009/07/22/tweetpost-smarter-update-facebook-twitter/">The Next Web</a>
      %li(id="insidefacebook")
        "Links to videos, articles and photos will now be visible to your Facebook friends... just like if you had shared them inside Facebook." &#8212; <a href="http://www.insidefacebook.com/2009/04/29/tweetface-is-a-more-powerful-way-to-update-facebook-from-twitter/">Inside Facebook</a>
      %li(id="twi5")
        "TweetPo.st has a slew of new features that help you have only the right Twitter updates sent to Facebook." &#8212; <a href="http://www.twi5.com/tweetpost-a-smarter-way-to-update-facebook-from-twitter/5848/">twi5.com</a>
    
%div(id="disclaimer")
  TweetPo.st is not affiliated in any way with Twitter or Facebook
  