/* Next line Copyright (c) 2009, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt version: 3.0.0 build: 1549 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* All other Copyright (c) 2010 Snowball Factory, Inc. */
/* general */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #444;
}
a {
	/* color: #F8B03A; */
	/* color: #fff; */
	/* color: #00f; */
	color: #312590;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-bottom: 0.5em;
}
/* header */
#header {
	width: 900px;
	position: relative;
	margin: 0 auto 0 auto;
}
#logo h1 a {
	display: block;
	background: url('/images/logo.png') top left no-repeat;
	height: 130px;
	width: 130px;
	margin-top: 1em;
}
#logo h1 a {
	text-indent: -9000px;
}
#logo h2 {
	position: absolute;
	font-size: 150%;
	bottom: 10px;
	left: 120px;
	color: #736357;
}
#login {
	position: absolute;
	top: 1em;
	right: 0;
}
#login #loginBtn {
	position: relative;
	top: 7px;
}
#login a {
	/* color: #00f; */
}
/* body */
#main {
	/* background-color: #c7b299; */
	background-color: #81643B;
	padding-top: 1em;
	padding-bottom: 1em;
}
.roundbox {
	/* background-color: #CBC8C4; */
	background-color: #C7B299;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
/* buttons, dialogs and alerts */
#warningBox {
	display:none;
}
.bigBtn {
	display: block;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #69A7E0;
	color: #fff;
	font-size: 88%;
	font-weight: bold;
	padding: 0.4em 1em;
	margin-top: 1em;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.smallBtn {
	display: block;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #69A7E0;
	color: #fff;
	font-size: 77%;
	padding: 0.3em 0.5em;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.smallBtn:active, .bigBtn:active {
	box-shadow: none;
	-moz-box-shadow: none;
}
#flash_notices p, #warningBox .notice, #warningBox .error, #warningBox .message {
	background-color: #fff;
	text-align: center;
	font-style: italic;
	padding: 0.5em 1em;
}
.cancel {
	text-align: right;
	font-size: 77%;
}
.cancel:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
/* footer */
#footer {
	text-align: center;
	font-size: 77%;
	padding-top: 1em;
	padding-bottom: 2em;
}
#footer a {
	/* color: #00f; */
}
#footer ul {
	margin: auto;
	width: 12em;
}	
#footer ul li {
	display: inline;
	padding-right: 0.4em;
}
#footer ul li:before {
	content: '|';
}
#footer ul li.first:before {
	content: ' ';
}
#footer ul li.last {
	padding-right: 0;
}
#footer ul:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
/* front page */
#hero, #copy {
	padding-top: 1.5em;
	padding-bottom: 1em;
	margin: 0 auto 0 auto;
	max-width: 900px;
}
#example {
	margin: auto;
	width: 800px;
}
#example:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#example .facebook, #example .twitter {
	float: left;
	position: relative;
}
#example .facebook img, #example .twitter img {
	box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
#example .facebook .logo, #example .twitter .logo {
	width: 100px;
	height: 26px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#example .twitter .logo  { background: url('/images/twitter-logo-small.png') top left no-repeat; }
#example .facebook .logo { background: url('/images/facebook-logo-small.png') top left no-repeat; }
#example #connector {
	display: block;
	width: 75px;
	height: 44px;
	background: url('/images/arrow.png');
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
}
#cta {
	clear: both;
	text-align: center;
	margin-top: 0.8em;
	font-size: 130%;
}
#cta em {
	color: #fff;
	/* color: #69A7E0 */
}
#cta:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#fb-cta {
	position: relative;
	top: 5px;
}
#copy #features, #copy #testimonials {
	width: 45%;
}
#copy #features {
	float: left;
	padding: 1.5em;
	margin-bottom: 0px;
}
#copy #features ul li {
	font-size: 110%;
	list-style-type: disc;
	list-style-position: inside;
	padding-bottom: 1em;
}
#copy #features ul li.new {
	margin-top: -11px;
}
#copy #features ul li.new img {
	position: relative;
	top: 9px;
}
#copy #testimonials {
	float: right;
}
#copy #testimonials a {
	/* color: #00f; */
}
#copy #testimonials #mashable {
	background-image: url('/images/mashable_twitter.png');
}
#copy #testimonials #thenextweb {
	background-image: url('/images/thenextweb_twitter.png');
}
#copy #testimonials #insidefacebook {
	background-image: url('/images/insidefacebook_twitter.png');
}
#copy #testimonials #twi5 {
	background-image: url('/images/twi5_twitter.png');
}
#copy #testimonials ul li {
	background-color: #fff;
	background-position: 15px 15px;
	background-repeat: no-repeat;
	padding: 0.4em;
	padding-left: 90px;
	margin-bottom: 0.6em;
	font-size: 90%;
	min-height: 68px;
	box-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#copy:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#disclaimer {
	clear: both;
	background-color: #C7B299;	
	text-align: center;
	font-style: italic;
	padding: 0.6em 0em;
	margin-bottom: -1em;
}
/* settings page */
#configs {
	margin: auto;
	max-width: 600px;
	padding: 1em 2em;
}
#configs-head, #configs-foot {
	background-color: #fff;
	padding: 0.3em 1em;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#configs-head .addnew a, #configs-foot .addnew a  {
	float: right;
	margin-right: 5px;
	background-image: url('/images/icon-add.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left: 25px;
}
#configs-head {
	margin-top: 1em;
	margin-bottom: 1em;
}
#configs-head:after, #configs-foot:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
.config-connection {
	background-color: #fff;
	margin-bottom: 1em;
	position: relative;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.config-connection:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
.config-connection .label {
	font-size: 88%;
	color: #888;
	padding: 0.3em 1em;
	max-width: 26em;
}
.config-connection .label a {
	color: #444444;
}
.config-connection .actions {
	border-bottom: 1px solid #79663D;
}
.config-connection .actions .buttons {
	position: absolute;
	right: 0px;
	top: 5px;
}
.config-connection .actions ul li {
	float: left;
	display: block;
}
.config-connection .actions ul li a {
	font-size: 88%;
	display: block;
	margin-right: 1.2em;
	padding-left: 17px;
}
.actions li #disable-btn { background: url('/images/icon-remove.png') top left no-repeat; } 
.actions li #enable-btn { background: url('/images/icon-refresh.png') top left no-repeat; }
.actions li #edit-btn { background: url('/images/icon-edit.png') top left no-repeat; }
.actions li #delete-btn { background: url('/images/icon-trash.png') top left no-repeat; }
.config-connection .twitter, .config-connection .status, .config-connection .facebook {
	float: left;
	margin-right: 1em;
}
.connection {
	display: table;
	margin-bottom: 0.5em;
	width: 31em;
	margin: auto;
}
.connection .twitter, .connection .facebook {
	width: 12em;
	vertical-align: middle;
	display: table-cell;
}
.connection .name, .connection .icon {
	display: table-cell;
	vertical-align: middle;
	height: 5.5em;
}
.connection .twitter .name, .connection .twitter .icon {
	text-align: right;
}
.connection .icon div {
	width: 48px;
	height: 48px;
	position: relative;
}
.connection .icon .favicon {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.connection .twitter .favicon { background: url('/images/favicon-twitter.png') top left no-repeat }
.connection .facebook .favicon { background: url('/images/favicon-facebook.png') top left no-repeat }
.connection .name {
	width: 12em;
	padding-right: 1em;
}
.connection .facebook .name {
	padding-left: 1em;
}
.connection .facebook .username {
	font-size: 88%;
}
.config-connection .twitter img, .config-connection .facebook img {
	width: 48px;
	height: 48px;
	float: left;
}
.config-connection .name {
	font-size: 88%;
}
.config-connection .username {
	display: block;
	color: #888;
}
.config-connection .status a {
	display: block;
	text-indent: -9000px;
	width: 50px;
	height: 30px;
	margin-top: 28px;
}
.config-connection .status a {
	outline: none;
}
.config-connection .status .disable {
	background: url('/images/arrow-green.png') top right no-repeat;
}
.config-connection .status .enable {
	background: url('/images/arrow-grey.png') top right no-repeat;
}
.settings-perm-error {
	padding: 0.5em;
	text-align: center;
	background-color: #fff;
}

/* edit connection */
#edit-config {
	margin: auto;
	max-width: 600px;
	padding: 1em 1em;
}
#edit-config h1 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 0.5em;
}
#edit-config .interior {
	background-color: #fff;
	padding: 1em 1em;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#edit-config #edit-update-btn {
	float: left;
	margin-top: 0px;
}
#edit-config #edit-cancel-btn {
	margin-left: 1em;
	margin-top: 0.5em;
	float: left;
}
#edit-config .config-buttons {
	margin-top: 1em;
}	
#edit-config .config-buttons:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#edit-config #enabled-clicked {
	clear: both;
}
#edit-config .twitter {
	margin-top: 1em;
}
#edit-config .facebook {
	margin-top: 1em;
}
#edit-config .facebook select {
	float: left;
}
#edit-config .facebook #facebook-add-btn {
	float: left;
	margin-left: 0.5em;
}
#edit-config .facebook .error {
	clear: both;
	margin-top: 3em;
	background: #fcc;
	padding: 0.5em;
}
#configs-edit-head #errorExplanation {
	background: #fcc;
	padding: 0.5em;
}
#edit-config .facebook:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#edit-config .options {
	margin-top: 1em;
	font-size: 88%;
}
#edit-config .options .form-section {
	margin-top: 1em;
}
#edit-config .options .sub-instruction {
	margin-left: 1em;
	font-size: 88%;
}
#edit-config #awesm {
	display: none;
	padding: 1em;
	border: 1px solid #ccc;
	font-size: 88%;
}
#edit-config #awesm span {
	font-size: 88%;
}
#edit-config #awesm .sub-section {
	margin-top: 0.5em;
}

/* NUX */
#nux {
	width: 37em;
	margin: auto;
	background-color: #C7B299;
	-moz-border-radius: 10px;
	padding: 1em;
}
#nux ol.nav {
}
#nux ol.nav:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#nux ol.nav li {
	float: left;
	padding: 0.3em 1.1em;
	background-color: #69A7E0;
	color: #fff;
	list-style-type: decimal;
	list-style-position: inside;
	margin-right: 0.65em;
}
#nux ol.nav li.current {
	background-color: #fff;
	color: inherit;
}
#nux .content {
	margin-top: 0.5em;
	background-color: #fff;
	padding: 1em;
}
#nux .content h1 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 0.3em;
}

/* step 1 */
.twitter-auth-btn {
	display: block;
	text-indent: -9000px;
	background: url('/images/twitter-auth-btn.png') top left no-repeat;
	width: 151px;
	height: 24px;
	margin-left: 3em;
}
#twitter-auth select {
	float: left;
	margin-left: 3em;
	margin-top: 0.3em;
}
#twitter-next {
	float: left;
	margin-left: 1em;
	margin-top: 0px;
}
#twitter-auth-options:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
#twitter-alternate {
	margin-top: 1em;
}
#twitter-public-user {
	display: none;
	margin-top: 1em;
	border: 1px solid grey;
	font-size: 88%;
	padding: 0.7em;
}
#twitter-public-user form {
	margin-bottom: 0.5em;
}
#twitter-public-user input[type="text"] {
	float: left;
}
#twitter-public-user #follow-btn {
	float: left;
	margin-left: 1em;
	margin-top: 0px;
}
#twitter-public-user .only {
	clear: both;
	margin-top: 3em;
	font-size: 88%;
}
 
/* step 2 */
#facebook-auth select {
	float: left;
	margin-top: 0.3em;
}
#facebook-next {
	float: left;
	margin-left: 1em;
	margin-top: 0px;
}
#facebook-constant-permission {
	width: 8em;
}
#facebook-auth #facebook-add-select:after {
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	content: '.';
}
.facebook-add-new {
	margin-top: 1em;
}
#facebook-add-new-btn {
	width: 10em;
}
/* step 3 */
#options {
	margin-top: 1.5em;
}
#top-done, #bottom-done {
	margin-left: 15em;
}
#options .form-section {
	font-size: 88%;
}
#options .sub-instruction {
	margin-left: 1em;
	font-size: 77%;	
}
#options #awesm {
	display: none;
	padding: 1em;
	border: 1px solid #ccc;
	font-size: 88%;
}
#options #awesm span {
	font-size: 88%;
}
#options #awesm .sub-section {
	margin-top: 0.5em;
}
/* step 4 */
#done-button {
	width: 12em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}



 
 
 
 
 
 
 
 
