%div(id="warningBox")
  %p(class="notice")
    This might take a minute, we're gathering your Facebook permissions. <img src="/images/spinner.gif" width="25" alt="spinner">
- if !@offline_access &&  @user.posting_configurations.any?(&:post_as_notes)
  %p.settings-perm-error
    Please grant us Constant Authorization permissions so we can post links to your wall.
    %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('offline_access', function(result) { window.location.reload(true); }, true);"} Please click here to do so.


%div(id="configs" class="roundbox")


  %div(id="configs-head")
    %div(class="addnew")
      = link_to "New connection", step1_path, :onclick => "popUpAjax()", :class => 'add-connection'
    %div(class="head-label")
      = "You have #{@user.posting_configurations.count} connections"
  
  %div(id="configs-body")
    - @user.posting_configurations.each do |posting_config|
    
      %div(class="config-connection")
      
        - if posting_config.disable_tweetface == false
          - authText = "Disable"
          - authClass = "disable"
          - authLink = disable_post_config_path(posting_config)
        - else
          - authText = "Enable"
          - authClass = "enable"
          - authLink = enable_post_config_path(posting_config)
          
        %div(class="actions")
          %div(class="label")
            %a= link_to( (h posting_config.title), edit_posting_configuration_path(:id => posting_config.id),  :onclick => "popUpAjax()")
          %ul(class="buttons")
            %li= link_to"Edit", edit_posting_configuration_path(:id => posting_config.id),  :onclick => "popUpAjax()", :id => "edit-btn"
            %li= link_to authText, authLink, :id => authClass + "-btn"
            %li= link_to "Delete", posting_config, :confirm => 'Are you sure?', :method => :delete, :id => "delete-btn"

        %div(class="connection")
          %div(class="twitter")
            %span(class="name")
              = link_to posting_config.twitter_account.twitter_real_name, "http://twitter.com/#{posting_config.twitter_account.twitter_username}"
              %span(class="username")
                = "@#{posting_config.twitter_account.twitter_username}"
            - unless posting_config.twitter_account.twitter_picture.blank?
              %div(class="icon")
                %div
                  = image_tag posting_config.twitter_account.twitter_picture
                  %span(class="favicon")
          %span(class="status")
            - if posting_config.disable_tweetface
              %span= link_to authText, authLink, :class => authClass
            - else
              %span= link_to authText, authLink, :class => authClass
          %div(class="facebook")
            %div(class="icon")
              %div
                - unless posting_config.authorized_facebook_spot.fb_picture.blank?
                  = image_tag posting_config.authorized_facebook_spot.fb_picture
                - else
                  = image_tag '/images/no-pic.jpeg'
                %span(class="favicon")
            %span(class="name")
              = link_to posting_config.authorized_facebook_spot.title, posting_config.authorized_facebook_spot.fb_url
              %span(class="username")
                = "#{posting_config.authorized_facebook_spot.page_type.capitalize}"
