<% if logged_in? %>
  <h2>You are logged in as <%= current_user.name %></h2>
  <% if current_user.facebook_user? %>
    <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" size="thumb" ></fb:profile-pic>
    <p><a href='<%= settings_path %>'>Edit TweetPo.st Settings</a></p>
    <p><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></p>
    <%= fb_prompt_permission('status_update', "We need permission to update your face" ) %>
    <fb:prompt-permission perms="share_item">We need permission to post links to your face</fb:prompt-permission>
    <% form_tag "/users/#{current_user.id}/status" do -%>
      <div><%= text_field_tag "message" %></div>
      <%= submit_tag "update your face" %>
    <% end -%>
  <% else %>
    <p>you must connect with your facebook account</p>
    <%= fb_login_button('window.location = "/users/link_user_accounts";')%>
    <p><%= link_to 'Logout', logout_path%></p>
  <% end %>
<% else %>
  <h2>You are not logged in!</h2>
  <p>you must connect with your facebook account</p>
  <%= fb_login_button('window.location = "/users/link_user_accounts";')%>
<% end %>