%div(id="edit-config" class="roundbox")
  %div(class="interior")
    %h1= "Sign up is closed."

    %p
      We're really sorry, but TweetPo.st can't handle any more users at this time :-(
    
    %p
      We want to provide the best experience possible to our existing users and unfortunately that means we cannot currently support new signups. We thank you for your interest and hope we'll be able to let you in soon. 
    
    %p
      There are more details on our decision
      %a{ :href => 'http://blog.snowballfactory.com/2010/04/30/tweetpo-st-suspending-new-signups/' }
        on our blog
      and please follow 
      %a{ :href => 'http://twitter.com/tweet_post' }
        @tweet_post
      to be kept up to date. 
    
    %p
      Regretfully,
      %br
      team TweetPo.st
      %br
      (Jeremiah, Tilly, Laurie, and Jonathan)
