<div id="login">
<% if logged_in? %>
  <h2>Hey there, <%= current_user.name %>!</h2>
  <!-- <fb:profile-pic uid="<%= current_user.fb_user_id%>" facebook-logo="true" width="50" height="50" size="square" ></fb:profile-pic> -->
  <p id="nav_links"><a href="#" onclick="FB.Connect.logoutAndRedirect('/logout')">Logout</a></p>
<% else %>
  Sign up or login: <span id="loginBtn"><%= fb_login_button('window.location = "/users/link_user_accounts";')%></span>
<% end %>
</div>