!!! 5
%html(xmlns:fb="http://www.facebook.com/2008/fbml")
  %head
    %title
      = "TweetPo.st v2 |"
      = (@page_title || "Tweet in your face!")
    %link(rel="canonical" href="http://tweetpo.st/")
    = stylesheet_link_tag 'main', 'boxy'
    /= javascript_include_tag :defaults, "jquery-1.3.2.min", "jquery.boxy"
    = javascript_include_tag 'jquery-1.3.2.min', 'application'
    /= javascript_include_tag 'prototype'
  %body
    = fb_connect_javascript_tag
    = init_fb_connect("XFBML", :js => :jquery)
    %div(id="header")
      %div(id="logo")
        %h1
          <a href="/">TweetPo.st</a>
        %h2
          A smarter way to update Facebook from Twitter
      = render :partial => 'layout_partials/navigation'
    %div(id="main")
      %div(id="flash_notices")
        - if flash[:message]
          %p(class="message")
            = flash[:message]
        - if flash[:error]
          %p(class="error")
            = flash[:error]
        - if flash[:notice]
          %p(class="notice")
            = flash[:notice]
      = yield
    %div(id="footer")
      %div(id="follow")
        <a href="http://twitter.com/tweet_post">Follow TweetPo.st on Twitter</a>
      %ul
        %li(id="blog" class="first")
          <a href="http://blog.snowballfactory.com/category/tweetpost/">Blog</a>
        %li(id="terms")
          <a href="/terms">Terms</a>
        %li(id="privacy" class="last")
          <a href="http://snowballfactory.com/privacy">Privacy</a>
      %div(id="copyright")
        Copyright &copy; 2009-2010 <a href="http://snowballfactory.com">Snowball Factory, Inc.</a> All Rights Reserved.
    - if current_user
      %script(type="text/javascript") 
        var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com"
        document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
      %script(type="text/javascript") 
        UserVoice.Tab.show({   key: 'tweetpost',  host: 'tweetpost.uservoice.com',   forum: 'general',   alignment: 'left',  background_color:'#f00',   text_color: 'white',  hover_color: '#06C',  lang: 'en' })
    %script(type="text/javascript")
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script(type="text/javascript")
      try {
      var pageTracker = _gat._getTracker("UA-8374083-1");
      pageTracker._trackPageview();
      } catch(err) {}
      
                    